---
import { Image } from 'astro:assets';
import frontImage from '../assets/front.jpg';
import backImage from '../assets/back.jpg';
import p1 from '../assets/p1.jpg';
import p2 from '../assets/p2.jpg';
import p3 from '../assets/p3.jpg';
import p4 from '../assets/p4.jpg';
import p5 from '../assets/p5.jpg';
import p6 from '../assets/p6.jpg';
import p7 from '../assets/p7.jpg';
import p8 from '../assets/p8.jpg';
import p9 from '../assets/p9.jpg';
import p10 from '../assets/p10.jpg';
import p11 from '../assets/p11.jpg';
import p12 from '../assets/p12.jpg';
import p13 from '../assets/p13.jpg';
import p14 from '../assets/p14.jpg';
import p15 from '../assets/p15.jpg';
import p16 from '../assets/p16.jpg';
import p17 from '../assets/p17.jpg';
import p18 from '../assets/p18.jpg';
import p19 from '../assets/p19.jpg';
import p20 from '../assets/p20.jpg';
import p21 from '../assets/p21.jpg';
import p22 from '../assets/p22.jpg';
import p23 from '../assets/p23.jpg';
import p24 from '../assets/p24.jpg';
import p25 from '../assets/p25.jpg';
import p26 from '../assets/p26.jpg';
import p27 from '../assets/p27.jpg';
import p28 from '../assets/p28.jpg';
import p29 from '../assets/p29.jpg';
import p30 from '../assets/p30.jpg';
import p31 from '../assets/p31.jpg';
import p32 from '../assets/p32.jpg';
import p33 from '../assets/p33.jpg';
import p34 from '../assets/p34.jpg';
import p35 from '../assets/p35.jpg';
import p36 from '../assets/p36.jpg';
import p37 from '../assets/p37.jpg';
import p38 from '../assets/p38.jpg';
import p39 from '../assets/p39.jpg';
import p40 from '../assets/p40.jpg';
import p41 from '../assets/p41.jpg';
import p42 from '../assets/p42.jpg';
import p43 from '../assets/p43.jpg';
import p44 from '../assets/p44.jpg';
import p45 from '../assets/p45.jpg';
import p46 from '../assets/p46.jpg';
import p47 from '../assets/p47.jpg';
import p48 from '../assets/p48.jpg';
import p49 from '../assets/p49.jpg';
import p50 from '../assets/p50.jpg';


import frontImage1 from '../assets/front1.jpg';
import backImage1 from '../assets/back1.jpg';

import p1_1 from '../assets/1p1.jpg';
import p1_2 from '../assets/1p2.jpg';
import p1_3 from '../assets/1p3.jpg';
import p1_4 from '../assets/1p4.jpg';
import p1_5 from '../assets/1p5.jpg';
import p1_6 from '../assets/1p6.jpg';
import p1_7 from '../assets/1p7.jpg';
import p1_8 from '../assets/1p8.jpg';
import p1_9 from '../assets/1p9.jpg';
import p1_10 from '../assets/1p10.jpg';
import p1_11 from '../assets/1p11.jpg';
import p1_12 from '../assets/1p12.jpg';
import p1_13 from '../assets/1p13.jpg';
import p1_14 from '../assets/1p14.jpg';
import p1_15 from '../assets/1p15.jpg';
import p1_16 from '../assets/1p16.jpg';
import p1_17 from '../assets/1p17.jpg';
import p1_18 from '../assets/1p18.jpg';
import p1_19 from '../assets/1p19.jpg';
import p1_20 from '../assets/1p20.jpg';
import p1_21 from '../assets/1p21.jpg';
import p1_22 from '../assets/1p22.jpg';
import p1_23 from '../assets/1p23.jpg';
import p1_24 from '../assets/1p24.jpg';
import p1_25 from '../assets/1p25.jpg';
import p1_26 from '../assets/1p26.jpg';
import p1_27 from '../assets/1p27.jpg';
import p1_28 from '../assets/1p28.jpg';
import p1_29 from '../assets/1p29.jpg';
import p1_30 from '../assets/1p30.jpg';
import p1_31 from '../assets/1p31.jpg';
import p1_32 from '../assets/1p32.jpg';
import p1_33 from '../assets/1p33.jpg';
import p1_34 from '../assets/1p34.jpg';
import p1_35 from '../assets/1p35.jpg';
import p1_36 from '../assets/1p36.jpg';
import p1_37 from '../assets/1p37.jpg';
import p1_38 from '../assets/1p38.jpg';
import p1_39 from '../assets/1p39.jpg';
import p1_40 from '../assets/1p40.jpg';
import p1_41 from '../assets/1p41.jpg';
import p1_42 from '../assets/1p42.jpg';
import p1_43 from '../assets/1p43.jpg';
import p1_44 from '../assets/1p44.jpg';
import p1_45 from '../assets/1p45.jpg';
import p1_46 from '../assets/1p46.jpg';
import p1_47 from '../assets/1p47.jpg';
import p1_48 from '../assets/1p48.jpg';
import p1_49 from '../assets/1p49.jpg';
import p1_50 from '../assets/1p50.jpg';
import p1_51 from '../assets/1p51.jpg';
import p1_52 from '../assets/1p52.jpg';
import p1_53 from '../assets/1p53.jpg';
import p1_54 from '../assets/1p54.jpg';
import p1_55 from '../assets/1p55.jpg';
import p1_56 from '../assets/1p56.jpg';
import p1_57 from '../assets/1p57.jpg';
import p1_58 from '../assets/1p58.jpg';
import p1_59 from '../assets/1p59.jpg';
import p1_60 from '../assets/1p60.jpg';
import p1_61 from '../assets/1p61.jpg';
import p1_62 from '../assets/1p62.jpg';
import p1_63 from '../assets/1p63.jpg';
import p1_64 from '../assets/1p64.jpg';
import p1_65 from '../assets/1p65.jpg';
import p1_66 from '../assets/1p66.jpg';
import p1_67 from '../assets/1p67.jpg';
import p1_68 from '../assets/1p68.jpg';
import p1_69 from '../assets/1p69.jpg';


import frontImage2 from '../assets/2_front.jpg';
import backImage2 from '../assets/2_back.jpg';


import p2_1 from '../assets/p2_1.jpg';
import p2_2 from '../assets/p2_2.jpg';
import p2_3 from '../assets/p2_3.jpg';
import p2_4 from '../assets/p2_4.jpg';
import p2_5 from '../assets/p2_5.jpg';
import p2_6 from '../assets/p2_6.jpg';
import p2_7 from '../assets/p2_7.jpg';
import p2_8 from '../assets/p2_8.jpg';
import p2_9 from '../assets/p2_9.jpg';
import p2_10 from '../assets/p2_10.jpg';
import p2_11 from '../assets/p2_11.jpg';
import p2_12 from '../assets/p2_12.jpg';
import p2_13 from '../assets/p2_13.jpg';
import p2_14 from '../assets/p2_14.jpg';
import p2_15 from '../assets/p2_15.jpg';
import p2_16 from '../assets/p2_16.jpg';
import p2_17 from '../assets/p2_17.jpg';
import p2_18 from '../assets/p2_18.jpg';
import p2_19 from '../assets/p2_19.jpg';
import p2_20 from '../assets/p2_20.jpg';
import p2_21 from '../assets/p2_21.jpg';
import p2_22 from '../assets/p2_22.jpg';
import p2_23 from '../assets/p2_23.jpg';
import p2_24 from '../assets/p2_24.jpg';
import p2_25 from '../assets/p2_25.jpg';
import p2_26 from '../assets/p2_26.jpg';
import p2_27 from '../assets/p2_27.jpg';
import p2_28 from '../assets/p2_28.jpg';
import p2_29 from '../assets/p2_29.jpg';
import p2_30 from '../assets/p2_30.jpg';
import p2_31 from '../assets/p2_31.jpg';
import p2_32 from '../assets/p2_32.jpg';
import p2_33 from '../assets/p2_33.jpg';
import p2_34 from '../assets/p2_34.jpg';
import p2_35 from '../assets/p2_35.jpg';
import p2_36 from '../assets/p2_36.jpg';
import p2_37 from '../assets/p2_37.jpg';
import p2_38 from '../assets/p2_38.jpg';
import p2_39 from '../assets/p2_39.jpg';
import p2_40 from '../assets/p2_40.jpg';
import p2_41 from '../assets/p2_41.jpg';
import p2_42 from '../assets/p2_42.jpg';
import p2_43 from '../assets/p2_43.jpg';
import p2_44 from '../assets/p2_44.jpg';
import p2_45 from '../assets/p2_45.jpg';
import p2_46 from '../assets/p2_46.jpg';
import p2_47 from '../assets/p2_47.jpg';
import p2_48 from '../assets/p2_48.jpg';
import p2_49 from '../assets/p2_49.jpg';
import p2_50 from '../assets/p2_50.jpg';
import p2_51 from '../assets/p2_51.jpg';
import p2_52 from '../assets/p2_52.jpg';
import p2_53 from '../assets/p2_53.jpg';
import p2_54 from '../assets/p2_54.jpg';
import p2_55 from '../assets/p2_55.jpg';
import p2_56 from '../assets/p2_56.jpg';
import p2_57 from '../assets/p2_57.jpg';
import p2_58 from '../assets/p2_58.jpg';
import p2_59 from '../assets/p2_59.jpg';
import p2_60 from '../assets/p2_60.jpg';
import p2_61 from '../assets/p2_61.jpg';
import p2_62 from '../assets/p2_62.jpg';
import p2_63 from '../assets/p2_63.jpg';
import p2_64 from '../assets/p2_64.jpg';
import p2_65 from '../assets/p2_65.jpg';
import p2_66 from '../assets/p2_66.jpg';
import p2_67 from '../assets/p2_67.jpg';
import p2_68 from '../assets/p2_68.jpg';
import p2_69 from '../assets/p2_69.jpg';
import p2_70 from '../assets/p2_70.jpg';




---
<div class="md:flex flex-wrap justify-between gap-5 p-5">
  
  <div class="book">
    <div class="page">
      <div class="front">
        <Image src={frontImage1} alt="Front Image 1" />
      </div>
      <div class="back">
        <Image src={p1_1} alt="Image 1_1" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_2} alt="Image 1_2" />
      </div>
      <div class="back">
        <Image src={p1_3} alt="Image 1_3" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_4} alt="Image 1_4" />
      </div>
      <div class="back">
        <Image src={p1_5} alt="Image 1_5" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_6} alt="Image 1_6" />
      </div>
      <div class="back">
        <Image src={p1_7} alt="Image 1_7" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_8} alt="Image 1_8" />
      </div>
      <div class="back">
        <Image src={p1_9} alt="Image 1_9" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_10} alt="Image 1_10" />
      </div>
      <div class="back">
        <Image src={p1_11} alt="Image 1_11" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_12} alt="Image 1_12" />
      </div>
      <div class="back">
        <Image src={p1_13} alt="Image 1_13" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_14} alt="Image 1_14" />
      </div>
      <div class="back">
        <Image src={p1_15} alt="Image 1_15" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_16} alt="Image 1_16" />
      </div>
      <div class="back">
        <Image src={p1_17} alt="Image 1_17" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_18} alt="Image 1_18" />
      </div>
      <div class="back">
        <Image src={p1_19} alt="Image 1_19" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_20} alt="Image 1_20" />
      </div>
      <div class="back">
        <Image src={p1_21} alt="Image 1_21" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_22} alt="Image 1_22" />
      </div>
      <div class="back">
        <Image src={p1_23} alt="Image 1_23" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_24} alt="Image 1_24" />
      </div>
      <div class="back">
        <Image src={p1_25} alt="Image 1_25" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_26} alt="Image 1_26" />
      </div>
      <div class="back">
        <Image src={p1_27} alt="Image 1_27" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_28} alt="Image 1_28" />
      </div>
      <div class="back">
        <Image src={p1_29} alt="Image 1_29" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_30} alt="Image 1_30" />
      </div>
      <div class="back">
        <Image src={p1_31} alt="Image 1_31" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_32} alt="Image 1_32" />
      </div>
      <div class="back">
        <Image src={p1_33} alt="Image 1_33" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_34} alt="Image 1_34" />
      </div>
      <div class="back">
        <Image src={p1_35} alt="Image 1_35" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_36} alt="Image 1_36" />
      </div>
      <div class="back">
        <Image src={p1_37} alt="Image 1_37" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_38} alt="Image 1_38" />
      </div>
      <div class="back">
        <Image src={p1_39} alt="Image 1_39" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_40} alt="Image 1_40" />
      </div>
      <div class="back">
        <Image src={p1_41} alt="Image 1_41" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_42} alt="Image 1_42" />
      </div>
      <div class="back">
        <Image src={p1_43} alt="Image 1_43" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_44} alt="Image 1_44" />
      </div>
      <div class="back">
        <Image src={p1_45} alt="Image 1_45" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_46} alt="Image 1_46" />
      </div>
      <div class="back">
        <Image src={p1_47} alt="Image 1_47" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_48} alt="Image 1_48" />
      </div>
      <div class="back">
        <Image src={p1_49} alt="Image 1_49" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_50} alt="Image 1_50" />
      </div>
      <div class="back">
        <Image src={p1_51} alt="Image 1_51" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_52} alt="Image 1_52" />
      </div>
      <div class="back">
        <Image src={p1_53} alt="Image 1_53" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_54} alt="Image 1_54" />
      </div>
      <div class="back">
        <Image src={p1_55} alt="Image 1_55" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_56} alt="Image 1_56" />
      </div>
      <div class="back">
        <Image src={p1_57} alt="Image 1_57" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_58} alt="Image 1_58" />
      </div>
      <div class="back">
        <Image src={p1_59} alt="Image 1_59" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_60} alt="Image 1_60" />
      </div>
      <div class="back">
        <Image src={p1_61} alt="Image 1_61" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_62} alt="Image 1_62" />
      </div>
      <div class="back">
        <Image src={p1_63} alt="Image 1_63" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_64} alt="Image 1_64" />
      </div>
      <div class="back">
        <Image src={p1_65} alt="Image 1_65" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_66} alt="Image 1_66" />
      </div>
      <div class="back">
        <Image src={p1_67} alt="Image 1_67" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={p1_68} alt="Image 1_68" />
      </div>
      <div class="back">
        <Image src={p1_69} alt="Image 1_69" />
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <Image src={backImage1} alt="Back Image 1" />
      </div>
      <div class="back">
        <Image src={backImage} alt="Back Image" />
      </div>
    </div>
  </div>

  <div class="book">
    <div class="page">
        <div class="front">
            <Image src={frontImage2} alt="Front Image 2" />
        </div>
        <div class="back">
            <Image src={p2_70} alt="Image 2_70" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_69} alt="Image 2_69" />
        </div>
        <div class="back">
            <Image src={p2_68} alt="Image 2_68" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_67} alt="Image 2_67" />
        </div>
        <div class="back">
            <Image src={p2_66} alt="Image 2_66" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_65} alt="Image 2_65" />
        </div>
        <div class="back">
            <Image src={p2_64} alt="Image 2_64" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_63} alt="Image 2_63" />
        </div>
        <div class="back">
            <Image src={p2_62} alt="Image 2_62" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_61} alt="Image 2_61" />
        </div>
        <div class="back">
            <Image src={p2_60} alt="Image 2_60" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_59} alt="Image 2_59" />
        </div>
        <div class="back">
            <Image src={p2_58} alt="Image 2_58" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_57} alt="Image 2_57" />
        </div>
        <div class="back">
            <Image src={p2_56} alt="Image 2_56" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_55} alt="Image 2_55" />
        </div>
        <div class="back">
            <Image src={p2_54} alt="Image 2_54" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_53} alt="Image 2_53" />
        </div>
        <div class="back">
            <Image src={p2_52} alt="Image 2_52" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_51} alt="Image 2_51" />
        </div>
        <div class="back">
            <Image src={p2_50} alt="Image 2_50" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_49} alt="Image 2_49" />
        </div>
        <div class="back">
            <Image src={p2_48} alt="Image 2_48" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_47} alt="Image 2_47" />
        </div>
        <div class="back">
            <Image src={p2_46} alt="Image 2_46" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_45} alt="Image 2_45" />
        </div>
        <div class="back">
            <Image src={p2_44} alt="Image 2_44" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_43} alt="Image 2_43" />
        </div>
        <div class="back">
            <Image src={p2_42} alt="Image 2_42" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_41} alt="Image 2_41" />
        </div>
        <div class="back">
            <Image src={p2_40} alt="Image 2_40" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_39} alt="Image 2_39" />
        </div>
        <div class="back">
            <Image src={p2_38} alt="Image 2_38" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_37} alt="Image 2_37" />
        </div>
        <div class="back">
            <Image src={p2_36} alt="Image 2_36" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_35} alt="Image 2_35" />
        </div>
        <div class="back">
            <Image src={p2_34} alt="Image 2_34" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_33} alt="Image 2_33" />
        </div>
        <div class="back">
            <Image src={p2_32} alt="Image 2_32" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_31} alt="Image 2_31" />
        </div>
        <div class="back">
            <Image src={p2_30} alt="Image 2_30" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_29} alt="Image 2_29" />
        </div>
        <div class="back">
            <Image src={p2_28} alt="Image 2_28" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_27} alt="Image 2_27" />
        </div>
        <div class="back">
            <Image src={p2_26} alt="Image 2_26" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_25} alt="Image 2_25" />
        </div>
        <div class="back">
            <Image src={p2_24} alt="Image 2_24" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_23} alt="Image 2_23" />
        </div>
        <div class="back">
            <Image src={p2_22} alt="Image 2_22" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_21} alt="Image 2_21" />
        </div>
        <div class="back">
            <Image src={p2_20} alt="Image 2_20" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_19} alt="Image 2_19" />
        </div>
        <div class="back">
            <Image src={p2_18} alt="Image 2_18" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_17} alt="Image 2_17" />
        </div>
        <div class="back">
            <Image src={p2_16} alt="Image 2_16" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_15} alt="Image 2_15" />
        </div>
        <div class="back">
            <Image src={p2_14} alt="Image 2_14" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_13} alt="Image 2_13" />
        </div>
        <div class="back">
            <Image src={p2_12} alt="Image 2_12" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_11} alt="Image 2_11" />
        </div>
        <div class="back">
            <Image src={p2_10} alt="Image 2_10" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_9} alt="Image 2_9" />
        </div>
        <div class="back">
            <Image src={p2_8} alt="Image 2_8" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_7} alt="Image 2_7" />
        </div>
        <div class="back">
            <Image src={p2_6} alt="Image 2_6" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_5} alt="Image 2_5" />
        </div>
        <div class="back">
            <Image src={p2_4} alt="Image 2_4" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_3} alt="Image 2_3" />
        </div>
        <div class="back">
            <Image src={p2_2} alt="Image 2_2" />
        </div>
    </div>

    <div class="page">
        <div class="front">
            <Image src={p2_1} alt="Image 2_3" />
        </div>
        <div class="back">
            <Image src={backImage2} alt="Back Image 2" />
        </div>
    </div>
</div>
  

  <div class="book">
    <div class="page">
      <div class="front">
        <Image src={frontImage} alt="Front Image" />
      </div>
      <div class="back">
        <Image src={p1} alt="Image 1" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p2} alt="Image 2" />
      </div>
      <div class="back">
        <Image src={p3} alt="Image 3" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p4} alt="Image 4" />
      </div>
      <div class="back">
        <Image src={p5} alt="Image 5" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p6} alt="Image 6" />
      </div>
      <div class="back">
        <Image src={p7} alt="Image 7" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p8} alt="Image 8" />
      </div>
      <div class="back">
        <Image src={p9} alt="Image 9" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p10} alt="Image 10" />
      </div>
      <div class="back">
        <Image src={p11} alt="Image 11" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p12} alt="Image 12" />
      </div>
      <div class="back">
        <Image src={p13} alt="Image 13" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p14} alt="Image 14" />
      </div>
      <div class="back">
        <Image src={p15} alt="Image 15" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p16} alt="Image 16" />
      </div>
      <div class="back">
        <Image src={p17} alt="Image 17" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p18} alt="Image 18" />
      </div>
      <div class="back">
        <Image src={p19} alt="Image 19" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p20} alt="Image 20" />
      </div>
      <div class="back">
        <Image src={p21} alt="Image 21" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p22} alt="Image 22" />
      </div>
      <div class="back">
        <Image src={p23} alt="Image 23" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p24} alt="Image 24" />
      </div>
      <div class="back">
        <Image src={p25} alt="Image 25" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p26} alt="Image 26" />
      </div>
      <div class="back">
        <Image src={p27} alt="Image 27" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p28} alt="Image 28" />
      </div>
      <div class="back">
        <Image src={p29} alt="Image 29" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p30} alt="Image 30" />
      </div>
      <div class="back">
        <Image src={p31} alt="Image 31" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p32} alt="Image 32" />
      </div>
      <div class="back">
        <Image src={p33} alt="Image 33" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p34} alt="Image 34" />
      </div>
      <div class="back">
        <Image src={p35} alt="Image 35" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p36} alt="Image 36" />
      </div>
      <div class="back">
        <Image src={p37} alt="Image 37" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p38} alt="Image 38" />
      </div>
      <div class="back">
        <Image src={p39} alt="Image 39" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p40} alt="Image 40" />
      </div>
      <div class="back">
        <Image src={p41} alt="Image 41" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p42} alt="Image 42" />
      </div>
      <div class="back">
        <Image src={p43} alt="Image 43" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p44} alt="Image 44" />
      </div>
      <div class="back">
        <Image src={p45} alt="Image 45" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p46} alt="Image 46" />
      </div>
      <div class="back">
        <Image src={p47} alt="Image 47" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p48} alt="Image 48" />
      </div>
      <div class="back">
        <Image src={p49} alt="Image 49" />
      </div>
    </div>

    <div class="page">
      <div class="front">
        <Image src={p50} alt="Image 50" />
      </div>
      <div class="back">
        <Image src={backImage} alt="Back Image" />
      </div>
    </div>
  </div>
  


</div>

  <style>

  
  /* FlipBook */
  .book {
    position: relative;
    display: flex;
    margin: auto;
    width: 153px; /* Set the width to 1530px */
    height: 248px; /* Set the height to 2482px */
    pointer-events: none;
    transform-style: preserve-3d;
    transition: translate 1s;
    translate: calc(min(var(--c), 1) * 50%) 0%;
    rotate: 0 0 0 30deg;
  }
  
  .page {
    --thickness: 1;
    flex: none;
    display: flex;
    width: 100%;
    font-size: 2cqmin;
    pointer-events: all;
    user-select: none;
    transform-style: preserve-3d;
    transform-origin: left center;
    transition:
      transform 0.4s,
      rotate 0.4s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
    translate: calc(var(--i) * -100%) 0px 0px;
    transform: translateZ( calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * .23cqmin)));
    rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
  }
  
  .front,
  .back {
    position: relative;
    flex: none;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    translate: 0px;
    padding: 0; /* Remove any padding */
    border: none; /* Remove the border */
  }
  
  .back {
    translate: -100% 0;
    rotate: 0 1 0 180deg;
  }
  
  .book {
    counter-reset: page -1;
  }
  
  .page {
    /* box-shadow: 0em .5em 1em -.2em #00000020; */
  }
  
  .front,
  .back {
    display: flex;
    flex-flow: column wrap;
    justify-content: center; /* Adjusted to center content if needed */
  }
  
  .front,
  .back img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Make sure the images cover the space */
  }
  
  .cover {
    background: radial-gradient(circle farthest-corner at 80% 20%, hsl(150 80% 20% / .3) 0%, hsl(170 60% 10% / .1) 100%),
      hsl(231, 32%, 29%) url("https://picsum.photos/id/984/800/900") 50% / cover;
    color: hsl(200 30% 98%);
  }
  
  </style>
  
  <script type="module" client:load>
    // Wait for the DOM to fully load
    document.addEventListener("DOMContentLoaded", () => {
      
      // Function to initialize flipbook interaction
      const flipBook = (elBook) => {
        elBook.style.setProperty("--c", 0); // Set initial current page to 0
        elBook.querySelectorAll(".page").forEach((page, idx) => {
          page.style.setProperty("--i", idx); // Set index for each page
          page.addEventListener("click", (evt) => {
            // If the click is on a link, don't change the page
            if (evt.target.closest("a")) return;
            
            // Determine the new current page (flip forward or backward)
            const curr = evt.target.closest(".back") ? idx : idx + 1;
            
            // Update the current page property for the book
            elBook.style.setProperty("--c", curr);
          });
        });
      };
  
      // Initialize flipbook on all books
      document.querySelectorAll(".book").forEach(flipBook);
    });
  </script>
  